.scrolling-section{
    @apply min-h-[500px] max-h-[600px] overflow-y-auto overflow-x-auto mb-5;
}

table thead th {
    position: sticky;
    top: 0;
    z-index: 2;
    /* width: 25vw; */
    background-color: white;
}
table tbody th {
    position: relative;
}
table tbody td:first-child {
    position: sticky;
    left: 0;
    /*z-index: 1;*/
    background-color: white;
}
table tbody td:nth-child(2) {
    position: sticky;
    left: 40px;
    /*z-index: 1;*/
    background-color: white;
}
table thead th:first-child {
    position: sticky;
    left: 0;
    /* z-index: 3; */
    background-color: white;
}
