table thead th {
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 25vw;
    background: #ffbcbc;
}
table td {
    background: #fff;
    padding: 4px 5px;
    text-align: center;
}

table tbody th {
    font-weight: 100;
    font-style: italic;
    text-align: left;
    position: relative;
}
table tbody td:first-child {
    position: sticky;
    left: 0;
    background: #dc9090;
    /*z-index: 1;*/
}
table thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 3;
    background: #866161;
}

/* .scrolling-section{
    @apply min-h-[500px] max-h-[800px] overflow-y-scroll overflow-x-scroll;
}
.scrolling-section::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }

  .scrolling-section::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ded9ce3b;
  }

  .scrolling-section::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrolling-section::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  } */